body
{
	background-color: #ffffff;
	color: #202020;
} 

body, p, ul, ol, dl
{
	font-family: Corbel, Verdana, "Lucida Grande", "Lucida Sans Unicode", Sans-Serif;
}

p, ul, ol, dl, dt, dd, td
{
	font-size: 12pt;
}

p.version, p.see-also
{
	font-size: 8pt;
}

dl.enum
{
	margin: 0em 0;
	padding: 0;
}

.enum dt
{
	position: relative;
	left: 0;
	top: 1.1em;
	width: 5em;
	font-weight: bold;
}

.enum dd
{
	border-left: 1px solid #000;
	margin: 0 0 0 6em;
	padding: 0 0 .5em .5em;
}

/*
a
{
	color: #546188;
	text-decoration: none;
}

a:visited 
{
	color: #546188;
}
*/

h1, h2, h3
{
	font-family: Corbel, Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	text-align: left;
	color: #bac8da;
}

h1
{
	font-size: 32pt;
	letter-spacing: -2px;
}

h3 
{
	font-size: 16pt;
	font-weight: normal;
}

#indexheader 
{
	position: absolute;
	left: 50pt;
	top: 100pt;
	font-size: 38pt;
}

#indexbody
{
	position: absolute;
	left: 50pt;
	top: 180pt;
}

table#indextable tr td
{
	margin-right: 1em;
}

tr#indextableheader td
{
	font-family: Corbel, Arial, Helvetica, Sans-Serif;
	font-size: 14pt;
	font-weight: lighter;
}
