/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.txt
/*.csh
/.*
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
queueScatterGather
/foo*
/bar*
integrationtests/
public/testdata/onTheFlyOutputTest.vcf
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
