/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.vcf.idx
/*.txt
/*.csh
/.*
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
queueScatterGather
/foo*
/bar*
integrationtests/
public/testdata/onTheFlyOutputTest.vcf
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
kg_tmp/
maven-ant-tasks-2.1.3.jar
null-sequenceGraph.25.0.0.raw_readthreading_graph.dot
null-sequenceGraph.25.0.1.cleaned_readthreading_graph.dot
null-sequenceGraph.25.0.1.initial_seqgraph.dot
null-sequenceGraph.3.0.0.raw_readthreading_graph.dot
null-sequenceGraph.3.0.1.cleaned_readthreading_graph.dot
null-sequenceGraph.3.0.1.initial_seqgraph.dot
org/
package-list
resources/
velocity.log
perf
verify
maven-metadata-local.xml
dependency-reduced-pom.xml
private/gatk-private/private/
private/gatk-private/public/
private/gatk-private/target/
private/na12878kb-utils/public/
private/na12878kb-utils/target/
private/queue-private/private/
private/queue-private/public/
private/queue-private/target/
private/scala/
private/testdata
protected/gatk-protected/private/
protected/gatk-protected/public/
protected/gatk-protected/target/
public/external-example/target/
public/gatk-framework/private/
public/gatk-framework/public/
public/gatk-framework/target/
public/gatk-package/private/
public/gatk-package/public/
public/gatk-package/target/
public/gatk-queue-extgen/public/
public/gatk-queue-extgen/target/
public/gsalib/public/
public/gsalib/target/
public/queue-framework/private/
public/queue-framework/public/
public/queue-framework/target/
public/queue-package/private/
public/queue-package/public/
public/queue-package/target/
public/scala/
public/sting-utils/public/
public/sting-utils/target/
public/testdata
target/
