.idea/
.queue/
/*.bam
/*.bai
/*.bed
*~
/*.vcf
/*.txt
/*.csh
/*.pdf
/*.eval
*.ipr
*.iws
*.iml
*.pyc
.DS_Store
/foo*
/bar*
integrationtests/
build/
dist/
dump/
lib/
out/
/atlassian-ide-plugin.xml
maven-metadata-local.xml
dependency-reduced-pom.xml
public/external-example/target/
